@import 'tailwindcss';

@theme {
  /* v4 color값 설정하는 방법 */
  --color-primary: #1d2745;
  --color-secondary: #1de5d4;
  --color-tertiary: #f52c50;
  --color-white: #ffffff;
  --color-mono100: #f1f1f1;
  --color-mono200: #bebebe;
  --color-mono300: #d6d7d9;
  --color-error: #d01e1e;
  --color-social: #395997;
  --color-dark-opacity: rgba(255, 255, 255, 0.1);
}
